

.picture {
    width: 100%;
    height: 100%;
   
}
/* div {
    display: inline-block
} */
.giveMeSpace {
    margin-top: 1rem;
}
.giveMeMoreSpace {
    margin-top: 5rem;
}
.dat-background-tho {
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
    background-color: blueviolet;
   
}